<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div class="jumbotron">
     <div class="errorMessage" >
     	<div class="alert alert-danger alert-dismissable">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		  <strong>Failed!</strong> <div id="message">Indicates a successful or positive action.
		</div>
     </div>
        <%- body %>
    </div>

</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>