
<h3>Login</h3>
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label for="phone">Phone: </label>
            <input type="text" id="phone" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="pass" class="form-control">
        </div>
        <div class="form-group">
            <button class="btn btn-info" id="login">Login </button></div>
    </div>
    <div class="col-lg-6">
        <div class="well well-sm">
          salesPerson Login:<br/>
           number: 9900687882<br/>
            pass: 12345
         </div>
          <div class="well well-sm">
          InventoryManager Login:</br>
               number: 9900687881<br/>
                pass: 12345
          </div>
    </div>
</div>
<script> 
$(document).ready(function() {
    $('#login').click(function(e){
        e.preventDefault;
        var data = {
            num: $('#phone').val(),
            pass: $('#pass').val()
        }
        $.post('/login', data, function(data) {
            console.log(data);
            if(data.token) {
                window.location.reload();
                Cookies.set('access_token', data.token);
            }
        })
    });
});           
</script>